p {
  max-width: 70ch; 
  margin: 1.5em auto; 
  line-height: 1.6; 
}

table {
  width: 80%; 
  margin: 30px auto; 
  border-collapse: collapse; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: sans-serif; 
}

th:first-child, 
td:first-child {
  border-right: 1px solid #ddd;
}

th, td {
  padding: 12px 15px; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}

thead th {
  background-color: #003660; 
  color: white; 
  font-weight: bold; 
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}
